# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/.next
/out

# misc
.DS_Store

# Lock's file
# package-lock.json
# yarn.lock

# Logs Npm or Yarn
*.logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/components/input/index.ts

src/components/input/index.tsx

src/components/input/Input/index.tsx

src/components/input/Input/Styled.tsx

src/components/input/Range/index.tsx

src/components/input/Range/Styled.tsx

src/components/input/Styled.tsx

src/components/input/Switch/index.tsx

src/components/input/Switch/Styled.tsx
